article h1 {
  color: black;
}

section.header {
  color: black;
}

section.header h2 {
  font-size: 30px;
}

section.header h3 {
  font-size: 25px;
}

section.header p {
  font-size: 22px;
}


section.topics {
  margin-top: 15px;
  font-size: 20px;
}

span.bold {
  color: black;
  font-weight: bold;
}

section.comments h4 {
  font-weight: bold;
  margin-top: 15px;
  font-size: 24px;
  color: blue;
}

section.comments ol li {
  font-size: 20px;
}
